.example-card {
    max-width: 400px;
    min-width: 100px;
  }
  
  .example-header-image {
    background-image: url('hhttps://phantom-marca.unidadeditorial.es/e00654a257e444dc80ee21b0ea78e083/resize/1320/f/jpg/assets/multimedia/imagenes/2022/09/24/16640012744527.jpg');
    background-size: cover;
  }
  